[package]
name = "bevy_firework"
version = "0.3.0"
edition = "2021"
readme = "README.md"
license = "MIT OR Apache-2.0"
repository = "https://github.com/mbrea-c/bevy_firework"
description = "CPU-driven, batch-rendered particle system for the Bevy game engine"
keywords = ["bevy", "gamedev", "particles", "graphics"]
resolver = "2"

[dependencies]
bevy = "0.14"
bytemuck = "1.14.3"
rand = "0.8.5"
bevy_utilitarian = { version = "0.5", path = "../bevy_utilitarian" }
bevy_xpbd_3d = { version = "0.5", features = ["serialize"], optional = true }
serde = { version = "1.0", features = ["derive"] }

[features]
default = ["physics_xpbd"]
physics_xpbd = ["dep:bevy_xpbd_3d"]

[[example]]
name = "collision"
required-features = ["physics_xpbd"]

[[example]]
name = "stress_test"
required-features = ["physics_xpbd"]

[[example]]
name = "stress_test_collision"
required-features = ["physics_xpbd"]
