[package]
name = "bevy_firework"
version = "0.6.0"
edition = "2021"
readme = "README.md"
license = "MIT OR Apache-2.0"
repository = "https://github.com/mbrea-c/bevy_firework"
description = "CPU-driven, batch-rendered particle system for the Bevy game engine"
keywords = ["bevy", "gamedev", "particles", "graphics"]
resolver = "2"

[dependencies]
bevy = "0.15"
bytemuck = "1.14.3"
rand = "0.8.5"
bevy_utilitarian = "0.6"
serde = { version = "1.0", features = ["derive"] }
avian3d = { version = "0.2", features = ["serialize"], optional = true }

[features]
default = ["physics_avian"]
physics_avian = ["dep:avian3d"]

[[example]]
name = "collision"
required-features = ["physics_avian"]

[[example]]
name = "stress_test"
required-features = ["physics_avian"]

[[example]]
name = "stress_test_collision"
required-features = ["physics_avian"]
